@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PF스타더스트';
  src: url('/assets/fonts/PF스타더스트 3.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  @font-face {
    font-family: 'NeoDunggeunmoPro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/NeoDunggeunmoPro-Regular.woff') format('woff');
  }
}
